// Primary Colors
$peach: rgb(231, 120, 107);
$black: rgb(29, 28, 30);
$white: rgb(255, 255, 255);

// Secondary Colors
$light-peach: rgb(255, 173, 155);

@mixin button($textColor, $backgroundColor) {
	font-family: Jost;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1px;
	padding: 18px 24px;
	border: none;
	border-radius: 8px;
	transition: 400ms ease;

	&:hover {
		color: $textColor;
		background: $backgroundColor;
	}
}

//CTA Styles

.call-to-action-container {
	position: absolute;
	left: 0;
	right: 0;
	top: -190px;
	padding: 64px 24px;
	margin: 0 24px;
	background: $peach
		url("../assets/shared/desktop/bg-pattern-call-to-action.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	border-radius: 8px;
}
.cta-button {
	color: $black;
	background-color: $white;
	@include button($white, $light-peach);
}

.call-to-action {
	margin-bottom: 32px;
	color: $white;

	h3 {
		font-weight: 500;
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	p {
		font-weight: 400;
		font-size: 13px;
		line-height: 25px;
	}
}

// MEDIA QUERIES

@media screen and (min-width: 650px) {
	.call-to-action-container {
		margin: 0 40px;
		padding: 57px 59px;
		text-align: center;
		h3 {
			// add line break
			.line-breaker::after {
				content: "\a";
				white-space: pre;
			}
		}
		p {
			// add line break
			.line-breaker::after {
				content: "\a";
				white-space: pre;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.call-to-action-container {
		margin: 0 95px;
	}

	.call-to-action-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: start;
	}
}
