/* VARIABLES */

// Primary Colors
$black: rgb(29, 28, 30);
$white: rgb(255, 255, 255);

// Menu component scss
.header-section {
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 35px 24px;
}

.logo-menuBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// margin: 35px 0;
}

// LOGOs
.logo-wrapper {
	display: flex;
	justify-content: center;
}
.oval-logo {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: conic-gradient(
		from 90deg at 50% 50%,
		rgba(231, 129, 107, 0.0001) 0deg,
		#e7816b 359.74deg,
		rgba(231, 129, 107, 0.0001) 360deg
	);
	transform: matrix(0, -1, -1, 0, 0, 0);
}

.designo-logo {
	font-family: Spartan;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	letter-spacing: 5px;
	align-items: center;
	margin-left: 16px;
	color: #333136;
}

// MENU BUTTON
.menu-btn {
	width: 24px;
	height: 24px;
	.menu-bar {
		width: 100%;
		height: 4px;
		background: $black;
		transition: 200ms ease;
	}
	// adds spaces between the menu bars
	.menu-bar:not(:last-child) {
		margin-bottom: 4px;
	}
}

// class to add to create close button
.close-btn {
	.menu-bar:nth-child(1) {
		width: 0;
	}
	.menu-bar:nth-child(2) {
		transform: rotate(-45deg);
		margin-bottom: 0;
		position: relative;
		top: 2px;
	}

	.menu-bar:nth-child(3) {
		transform: rotate(45deg);
		position: relative;
		bottom: 2px;
	}
}

//MENU ITEMS

nav {
	background: $black;
	position: fixed;
	left: 0;
	right: 0;
	// hides menu
	transform: translateX(100%);
	transition: 400ms ease;
}

// shows menu
.hide-menu {
	transform: translateX(0);
}

a {
	text-decoration: none;
}

.nav-list {
	padding: 48px 24px;

	li:not(:last-child) {
		margin-bottom: 32px;
	}
}

.nav-link {
	font-family: "Jost", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: 2px;
	color: $white;
}

// MEDIA QUERIES
@media screen and (min-width: 650px) {
	.header-section {
		padding: 35px 40px;
	}
}

@media screen and (min-width: 768px) {
	.header-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	#menu-btn {
		display: none;
	}

	nav {
		position: relative;
		transform: translateX(0);
		background: $white;
	}

	.nav-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0;

		li:not(:last-child) {
			margin-bottom: 0;
			margin-right: 42px;
		}
	}

	.nav-link {
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 2px;
		color: $black;
	}
}

@media screen and (min-width: 1200px) {
	.header-section {
		padding: 35px 100px;
	}
}
