/* VARIABLES */

// Primary Colors
$peach: rgb(231, 120, 107);
$black: rgb(29, 28, 30);
$white: rgb(255, 255, 255);

// Secondary Colors
$light-peach: rgb(255, 173, 155);

// mixins
@mixin button($textColor, $backgroundColor) {
	font-family: Jost;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1px;
	padding: 18px 24px;
	border: none;
	border-radius: 8px;
	transition: 400ms ease;

	&:hover {
		color: $textColor;
		background: $backgroundColor;
	}
}

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $peach url("../assets/home/desktop/bg-pattern-hero-home.svg");
	background-repeat: no-repeat;

	.light-button {
		margin: 24px 0 80px;
		background-color: $white;
		color: $black;
		@include button($white, $light-peach);
	}
}

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-content {
	color: $white;
	text-align: center;
	margin: 80px 24px 0;
}
.hero-header {
	margin-bottom: 24px;
}

// MEDIA QUERIES
@media screen and (min-width: 650px) {
	.hero-section {
		margin: 0 40px 0;
		border-radius: 8px;
	}

	.hero-content {
		margin: 60px 58px 0;
		padding: 0 50px;
	}
}

@media screen and (min-width: 1200px) {
	.hero-section {
		background-position: 100% 0;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 145px 95px 0;
		margin: 0 95px 0;
	}
	.hero-container {
		width: 50%;
		align-items: flex-start;
	}

	.hero-content {
		padding: 0;
		margin: 0;
		text-align: start;
	}
}
