$white: rgb(255, 255, 255);
$dark-grey: rgb(51, 49, 54);
$peach: rgb(231, 120, 107);
$black: rgb(29, 28, 30);

.services-section {
	padding: 120px 24px;
}

.service-item {
	padding: 90px 56px;
	margin-bottom: 24px;
	background-size: cover;
	box-shadow: inset 0 0 0 150px rgba(29, 28, 30, 0.7);
	border-radius: 15px;
	text-align: center;
	text-transform: uppercase;
	color: $white;
	transition: 400ms ease;
	&:hover {
		box-shadow: inset 0 0 0 150px rgba(231, 120, 107, 0.7);
	}
	&:hover .right-icon {
		margin-left: 17px;
	}
}

.service-title {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 36px;
	/* identical to box height, or 129% */
	text-align: center;
	letter-spacing: 1.4px;
}

.view-project-container {
	margin-top: 12px;
}

.view-project-text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	/* identical to box height */
	letter-spacing: 5px;
	text-transform: uppercase;
}

.right-icon {
	margin-left: 10px;
	transition: 400ms ease;
}
