*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Jost", sans-serif;
	font-size: 16px;
	line-height: 26px;
	background: url("./bg-pattern-leaf.svg") 0 475px no-repeat,
		url("./bg-pattern-leaf.svg") right 1600px no-repeat;
}

ul {
	list-style: none;
}
