/* VARIABLES */

// Primary Colors
$peach: rgb(231, 120, 107);
$white: rgb(255, 255, 255);

.intro {
	background: $peach url("../assets/shared/desktop/bg-pattern-small-circle.svg");
	background-size: cover;
	padding: 105px 24px;
	text-align: center;
	color: $white;
}

.web-design-intro-title {
	margin-bottom: 24px;
}

@media screen and (min-width: 500px) {
	.line-break::after {
		content: "\a";
		white-space: pre;
	}
}

@media screen and (min-width: 650px) {
	.intro {
		margin: 0 40px;
		background-image: url("../assets/web-design/desktop/bg-pattern-intro-web.svg");
		background-position: center;
		background-size: cover;
		border-radius: 15px;
	}
}

@media screen and (min-width: 1200px) {
	.intro {
		margin: 0 95px;
	}
}
