/* VARIABLES */

// Primary Colors
$peach: rgb(231, 120, 107);
$white: rgb(255, 255, 255);

// Secondary Colors
$light-peach: rgb(255, 173, 155);

.project-container {
	padding: 96px 24px;
}

.project-item:not(:last-child) {
	margin-bottom: 40px;
}

.project-item {
	transition: 400ms ease;
	&:hover {
		.project-info {
			background-color: $peach;
			color: $white;
		}
		.project-title,
		.project-description {
			color: $white;
		}
	}
}

.project-image-wrapper {
	height: 320px;
	img {
		border-radius: 15px 15px 0 0;
		height: 100%;
		width: 100%;
	}
}

.project-info {
	background-color: #fdf3f0;
	text-align: center;
	padding: 32px 29px;
	border-radius: 0 0 15px 15px;
	transition: 400ms ease-in;
}

.project-title {
	margin-bottom: 16px;
	color: #e7816b;
	text-transform: uppercase;
	transition: 400ms ease-in;
}

.project-description {
	color: #333136;
	transition: 400ms ease-in;
}

.other-services {
	padding: 0 24px 286px;

	:last-child {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 650px) {
	.project-container {
		padding: 120px 40px;
	}

	.other-services {
		padding: 0 40px 310px;
	}
}

@media screen and (min-width: 768px) {
	.project-item {
		display: flex;
		flex-direction: row;
	}

	.project-image-wrapper {
		img {
			border-radius: 15px 0 0 15px;
		}
	}

	.project-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		border-radius: 0 15px 15px 0;
	}
}

@media screen and (min-width: 800px) {
	.project-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}

	.project-item {
		display: flex;
		flex-direction: column;
	}

	.project-image-wrapper {
		img {
			border-radius: 15px 15px 0 0;
			height: 100%;
			width: 100%;
		}
	}

	.project-info {
		width: 100%;
		border-radius: 0 0 15px 15px;
	}
}

@media screen and (min-width: 900px) {
	.other-services {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}
}

@media screen and (min-width: 1200px) {
	.project-container {
		padding: 160px 95px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	.other-services {
		padding: 0 95px 350px;
	}
}
